<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>

	<!-- import -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
	<nav>
    	<div class="nav-wrapper">
      	<a href="/" class="brand-logo"><img src=https://upload.wikimedia.org/wikipedia/en/b/b9/New_England_Patriots_logo.svg></a>
      	<ul id="nav-mobile" class="right hide-on-med-and-down">
        	<li><a href="/">Home</a></li>
        	<li><a href="/players/">Players</a></li>
      	</ul>
    	</div>
  	</nav>

	{% block content %}
	{% endblock %}
</body>
</html>